<h1>User Login Page</h1>

<form action="/login" method="post">
  Username: <input type="text" name="username">
  Password: <input type="password" name="password">
  <input type="submit" value="Log In">
</form>

<br></br>
<a class="button" href="/signup">Don't have a login? Sign Up Here</a>
