<h1>User Login Page</h1>

<a class="button" href="/signup">Don't have a login? Sign Up Here</a>

<br></br>

<a class="button" href="/shows/new">Create a New Show</a>
<br>
<a class="button" href="/shows">Return to All Your Shows</a>
<br>
<a class="button" href="/logout">Logout</a>
