<h1>User Signup Page</h1>

<form action="/signup" method="post">
  Display Name: <input type="test" name="display_name"><br>
  Username: <input type="text" name="username"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="Sign Up!">
</form>

<br></br>

<p>Already have a login?<br>
  <a class="button" href="/login">Log In Here</a>
</p>
