<h1>Create Show Page</h1>

<h1>Welcome to 'What To Watch' <%= @user.display_name %>!</h1>

<form action="/shows" method="post">
  Show Title: <input type="text" name="title">
  Show Genre: <input type="text" name="genre">
  Show Length: <input type="text" name="length">
  <input type="submit" value="Create">
</form>

<br></br>




<a class="button" href="/shows">Return to All Your Shows</a>
<br>
<a class="button" href="/logout">Logout</a>
<br>
For testing:
<a class="button" href="/login">Log In Here</a>
<a class="button" href="/signup">Sign Up Here</a>
