<h1>Make a New Show</h1>

<form action="/shows" method="post">
  Show Title: <input type="text" name="title"><br>
  Show Genre:
    <form method ="post" action ="">
      <select>
        <% @genres.each do |genre| %>
            <option value="<%= genre.id %>"><%= genre.name %></option>
        <% end %>
      </select>
      <br>
  Show Length:
    <form method ="post" action ="">
      <select>
        <% @lengths.each do |length| %>
            <option value="<%= length.id %>"><%= length.length_description %></option>
        <% end %>
      </select>
      <br>
  <input type="submit" value="Create">
</form>

<br></br>

<a class="button" href="/shows">Return to All Your Shows</a>
<br>
<a class="button" href="/logout">Logout</a>
