<h1>Edit Show Page</h1>

<form action="/shows/<%= @show.slug %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <h3>Current Show Details: </h3>
  <p>
    Title: <%= @show.title %> Change To: <input type="text" name="title">
  </p>
  <p>
    Genre: <%= @show.genre %> Change To: <input type="text" name="genre">
  </p>
  <p>
    Length: <%= @show.length %> Change To: <input type="text" name="length">
  </p>
  <input type="submit" value="Save Edits">
</form>

<br></br>

<a class="button" href="/shows/new">Create a New Show</a>
<br>
<a class="button" href="/shows">Return to All Your Shows</a>
<br>
<a class="button" href="/logout">Logout</a>
