<h1>List Shows Page</h1>


<% @current_user_shows.each do |show| %>
  <h3><a href="/shows/<%= show.slug %>"><%= show.title %></a></h3>
  <p>
    <%= show.show_genre %><br>
    <%= show.show_length %>
  </p>
  <br></br>
<% end %>



<a class="button" href="/shows/new">Create a New Show</a>
<br>
<a class="button" href="/logout">Logout</a>
